---
import { SITE } from "@config";

export interface Props {
  href: string;
  className?: string;
  ariaLabel?: string;
  title?: string;
  disabled?: boolean;
  link?: string;
}

const {
  href,
  className,
  ariaLabel,
  title,
  disabled = false,
  link,
} = Astro.props;
---

{
  disabled ? (
    <span
      class={`group inline-block ${className}`}
      aria-label={ariaLabel}
      title={title}
      aria-disabled={disabled}
    >
      <slot />
    </span>
  ) : (
    <a
      href={link ? href : SITE.base + href}
      class={`group inline-block hover:text-skin-accent ${className}`}
      aria-label={ariaLabel}
      title={title}
    >
      <slot />
    </a>
  )
}
